# Virtual environment
venv/

# Python cache files
__pycache__/
*.pyc

# Model files
*.pkl

# Datasets & generated csvs
data/raw/YawDD/
data/raw/ISDDS/
data/*.csv

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Temporary / Agent files
.antigravitycli/
